<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Carrer Page</title>    
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

  </head>
  <body>

    <div class="body">
           <%= render :partial => "/layouts/header" %>


      <div role="main" class="main">

        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li>career</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>career</h2>
              </div>
            </div>
          </div>
        </section>
                  <div class="container">
               <h4 class="service-heading">Park Controls & Communications (P) Ltd., PCC for short is 25 years old.::</h4>
          </div>
        <div class="container">
              <div class="row">
            <div class="col-md-12">
            <p class="lead">
              The company, though, is still agile and young 
              constantly innovating products that were once the forte of Aerospace specialists 
              outside India.  The company is presently 
              extending their products and services outside
              the shores of India.           
                               
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                PCC is known for their products which meet the precise and customized requirements of the users and their applications.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
              PCC customizes solutions focuses on the following markets:
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                
                End to End Data Acquisition Systems for Airborne, Mobile, Range, Plant and Lab applications that include
                comprehensive Telemetry and Control systems.&nbsp; Our Powerful Universal Data Acquisition &amp; Processing Software 
                makes our product offering world class.  The company is a monopoly for supply of Telemetry Solutions within the 
                Indian subcontinent.
                
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                Specialized Timing systems for GPS/GLONASS such as Almanac Servers, PTP based Reference Clocks, Readers,
                Video Time Inserters, Range Clocks, etc.
              </p>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                Engineering and Production Services – Product engineering as well as re-engineering of legacy form, fit and function
                replacement equipment at  System, Sub system, PCB and Component level including production and supply of 
                quantities in volume and product support beyond 12 years.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
              System Integration &amp; Maintenance Services – Integration of large systems as part of the testing infrastructure along
              with Field level maintenance of systems, sub systems, etc., that would include any engineering changes as required and 
              on behalf of the OEM outside India.
              </p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                PCC are known to be stable, robust and dependable by the scores of satisfied users across India. The products are used in 
                Airborne, Mobile, Range, Plant and Lab Level applications.
              </p>
            </div>
          </div>
          </div>

        <div class="container">
               <h4 class="service-heading">PCC is accredited with the following credentials::</h4>
          </div>
          <div class="container">
              <div class="row">
            <div class="col-md-12">
              <p class="lead">
                </p><ul class="ul-iso">
                  <li>ISO 9001</li>
                   <li>AS 9100</li>
                    <li>CEMILAC</li>
                   <li>R&amp;D APPROVED BY GOVT. OF INDIA</li>
                    <li>EHTP</li>
                    <li>INDIAN DEFENCE PRODUCTION LICENSE</li>
                    <li>NATIONAL SMALL INDUSTRIES CORPORATION</li>
                   
                </ul>
              <p></p>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                PCC operates out of a state of the art facility fully equipped with design and test tools to take up designs that are challenging in 
                nature.  The company is proud of their young and dynamic team of engineers who are continually looking for stimulating design 
                experiences that sharpen their skills and expertise.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                  Talk to us or write us today for your requirements which may be challenging for anyone else…. but we love technological 
                  challenges… the more difficult it is ….! the more stimulated we are…! Your satisfaction is guaranteed.
              </p>
            </div>
          </div>
          </div>
          
      </div>

        <%= render :partial => "/layouts/footer" %>
    </div>

    <!-- Libs -->
   <%= render :partial => "/layouts/js_script" %>

    
  </body>
</html>
