<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>About Us</title>   
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
  </head>
  <body>

    <div class="body">
          <%= render :partial => "/layouts/header" %>


      <div role="main" class="main">

        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">clients</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Clients</h2>
              </div>
            </div>
          </div>
        </section>
               
            <div class="container">
            <div class="row">
             <div class="col-md-12 col-xs-8">
             <table class="table table-bordered">
          <thead>
            <tr>
              <th>Selected Clients</th>
              <th>Descriptions of Equipment Supply</th>
            </tr>
          </thead>
                 <tbody>
                <tr>
                <td>
        <p class="lead">
             <i class="icon icon-arrow-right"></i>   Indian Space Research Organisation (ISRO),
                      Telemetry, Tracking & Command Network (ISTRAC)
        </p>
        <p class="lead">
             <i class="icon icon-arrow-right"></i> 
                    Vikram Sarabhai  Space Center          
        </p>
        <p class="lead">
             <i class="icon icon-arrow-right"></i> 
                     Master Control Facility         
        </p>
      
        
       </td>
                <td>
           <p class="lead">
             <ul class="ul-lead">
               <li><i class="icon icon-arrow-right"></i>Telemetry Modules </li>
               <li>  <i class="icon icon-arrow-right"></i>  
                  Timing Modules
               </li>
               
             </ul>
           </p>
           
           </td>
                  </tr>
          <tr>
                     <td>
            <p class="lead">
                <i class="icon icon-arrow-right"></i> 
                       ISRO Satellite Center       
            </p>
          </td>
                    <td>
             <p class="lead">
                <i class="icon icon-arrow-right"></i> 
                      Telemetry System       
            </p>
           </td>
                    </tr>
          <tr>
                     <td> 
           <p class="lead">
                <i class="icon icon-arrow-right"></i> 
                      Space Applications Center      
            </p></td>
                    <td>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  Telemetry Modules
            </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                      Satish Dhawan Space Center(SHAR)     
            </p></td>
                    <td>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  Timing Modules  
              </p>
              <p class="lead">
               <i class="icon icon-arrow-right"></i> Antenna Control Units  
              </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                     Liquid  Propulsion Systems Centre     
            </p></td>
                    <td>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  Timing Modules
              </p>  
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                     Aeronautical Development Agency   
            </p></td>
                    <td>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Comprehensive Telemetry Data Acquisition and Processing Station
             </p> 
             
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Timing Modules
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       MIL 1553
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       ARINC 429
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Quad Channel Receivers
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Bit Synchronizers
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     V/UHF Communications Systems
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     Cockpit Environmental Facility
             </p>
             
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                    Aeronautical Development Establishment  
            </p></td>
                    <td>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Comprehensive Telemetry Data Acquisition and Processing

Station
             </p> 
             
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Timing Modules
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Aero Engine Control Unit
             </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                    Aircraft & Systems Testing Establishment (ASTE)  
            </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Comprehensive Telemetry Data Acquisition and Processing
                           Station
             </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                    Bharat Electronics Limited  
            </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     Comprehensive Telemetry Data Acquisition and Processing
                          Station
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Timing Modules
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Mobile HUD Test Benches
             </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                        Brahmos Aerospace Systems (P) Ltd. 
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Time Reference Systems
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Glonass Almanac Servers
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Ground Checkout Systems
             </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                    Bharat Electronics Limited  
            </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     Comprehensive Telemetry Data Acquisition and Processing
                          Station
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Timing Modules
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Mobile HUD Test Benches
             </p>
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                      Central Scientific Instruments Organization 
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    Head Up Display & MFD Test Bench
             </p>
            
              </td>
                    </tr>
          
            <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                        Defence Research & Development Laboratory 
            </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    Airborne Flight Instrumentation Unitsn
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                  Comprehensive Telemetry Data Acquisition and Processing Station

             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Timing Modules
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      PCM to Ethernet converters
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                        Bit Synchronizers
             </p>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                        Receivers
             </p>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                        Ground Checkout Systems
             </p>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                        Solid State Recorders
             </p>
              </td>
                    </tr>
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                     Electronics Corporation of India Limited
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                   Time Reference Systems
             </p>
            
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                        Hindustan Aeronautics Limited
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Comprehensive Telemetry Data Acquisition and Processing

                           Station
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Timing Modules
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Automated Test Benches
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      V/UHF Communications Systems
             </p>
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                        Indian Air Force
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       End to End Telemetry Data Acquisition System
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Telemetry Transmitters
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Receivers
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      V/UHF Communications Systems
             </p>
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                      Integrated Test Range
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                Comprehensive Telemetry Data Acquisition and Processing Station

             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     Timing Systems
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                       Antenna Control Units
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Radar Control System
             </p>
              <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Program Clocks
             </p>
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                      Kaiser Italia
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    Comprehensive Telemetry Data Acquisition and Processing Station

             </p>
            
              </td>
                    </tr>
          
           <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                    Larsen & Toubro
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    Comprehensive Telemetry Data Acquisition and Processing Station

             </p>
            
              </td>
                    </tr>
           <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                    LUCAS TVS
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    Aero Generator Control Units
             </p>
            
              </td>
                    </tr>
          
           <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                   National Aerospace Laboratories
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                   Telemetry Data Acquisition and Processing Station
             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                      Generic Data Acquisition Modules
             </p>
            
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                   Research Center Imarat
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     Comprehensive Telemetry Data Acquisition and Processing Station

             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                     Timing modules
             </p>
             <p class="lead">
              <i class="icon icon-arrow-right"></i>
             Program Clocks
             </p>
            
              </td>
                    </tr>
          
          <tr>
                     <td><p class="lead">
                <i class="icon icon-arrow-right"></i> 
                   Software Development Institute
               </p></td>
                    <td>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    INS Test Bench

             </p>
             <p class="lead">
               <i class="icon icon-arrow-right"></i>  
                    HUDWAC Promming Station
             </p>
             <p class="lead">
              <i class="icon icon-arrow-right"></i>
             Upgrade of MIG 21 Bison SI RIG
             </p>
              </td>
                    </tr>
                    </tbody>
                   </table>
           </div>
           </div>
          </div><!--container-->

      

 
          
      </div>

        <%= render :partial => "/layouts/footer" %>
    </div>

    <!-- Libs -->
    <%= render :partial => "/layouts/js_script" %>

  </body>
</html>
