<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>Product Page</title>   
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css" media="screen">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css" media="screen">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">
    <link rel="stylesheet" href="vendor/isotope/jquery.isotope.css" media="screen">
    <link rel="stylesheet" href="vendor/mediaelement/mediaelementplayer.css" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/theme-blog.css">
    <link rel="stylesheet" href="css/theme-shop.css">
    <link rel="stylesheet" href="css/theme-animate.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/theme-responsive.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Head Libs -->
    <script src="vendor/modernizr.js"></script>

    <!--[if IE]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="vendor/respond.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="body">
        <header id="header">
        <div class="container">
          <h1 class="logo">
            <a href="index.html">
              <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="/assets/img/logo.png">
            </a>
          </h1>
          <nav>
            <ul class="nav nav-pills nav-top">
              
              <li class="phone">
                <span><i class="icon icon-phone"></i>+91-80-2529 2513</span>
              </li>
              <li class="phone">
                <span><i class="icon icon-envelope"></i>info@parkcontrols.com</span>
              </li>
            </ul>
          </nav>
          <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="icon icon-bars"></i>
          </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
          <div class="container">
            <ul class="social-icons">
              <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
              <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
              <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
            </ul>
            <nav class="nav-main mega-menu">
              <ul class="nav nav-pills nav-main" id="mainMenu">
                <li>
                  <a href="about.html">
                    About Us
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="about-us-basic.html">About Us - Basic</a></li>
                    <li><a href="about-me.html">About Me</a></li>
                  </ul> -->
                </li>
                <li class="dropdown mega-menu-item mega-menu-fullwidth active">
                  <a class="dropdown-toggle" href="#">
                    Products
                    <i class="icon icon-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="mega-menu-content">
                        <div class="row">
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">RF</span>
                                <ul class="sub-menu">
                                  <li><a href="sdr.html">SDR based Transmitters</a></li>
                                  <li><a href="feature-icons.html">Power Amplifiers</a></li>
                                  <li><a href="ampli.html">Power Dividers</a></li>
                                  <li><a href="combiner.html">Combiners</a></li>
                                  <li><a href="low.html">Low Noise Amplifiers</a></li>
                                  <li><a href="down.html">Down Convertors</a></li>
                                  <li><a href="modulator.html">Modulators</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Telemetry</span>
                                <ul class="sub-menu">
                                  <li><a href="airbone.html">Airborne/MIL Ruggedized Instrumentation Systems</a></li>
                                  <li><a href="pcm.html">PCM Encoders</a></li>
                                  <li><a href="antenna.html">Antenna Systems (up to 3 mts.)</a></li>
                                  <li><a href="receiver.html">Telemetry Receivers</a></li>
                                  <li><a href="bit.html">Bit Synchronizers</a></li>
                                  <li><a href="document.html">Decommutators</a></li>
                                  <li><a href="software.html">Telemetry Application Software</a></li>
                                  <li><a href="video.html">Video decoders</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Timing</span>
                                <ul class="sub-menu">
                                  <li><a href="system.html">Time Reference Systems</a></li>
                                  <li><a href="generator.html">Time Code Generators</a></li>
                                  <li><a href="reader.html">Time Code Readers</a></li>
                                  <li><a href="display.html">Time Displays</a></li>
                                  <li><a href="inserter.html">Video Time Inserters</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Controls</span>
                                <ul class="sub-menu">
                                  <li><a href="power-control.html">Power Control Units</a></li>
                                  <li><a href="engine-control.html">Engine Control Units</a></li>
                                  <li><a href="generator-control.html">Generator Control Units</a></li>
                                  <li><a href="antenna-control.html">Antenna Control Units</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                        
                        <div class="row">
                           <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Others</span>
                                <ul class="sub-menu">
                                  <li><a href="unit.html">Airborne Engine Interface Unit</a></li>
                                  <li><a href="recorder.html">Airborne Digital Video Recorder</a></li>
                                  <li><a href="loader.html">Air Data Loaders</a></li>
                                  <li><a href="mil.html">MIL 1553 boards</a></li>
                                  <li><a href="board.html">ARINC boards</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        
                        
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="service.html">
                    Services
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                    <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                    <li><a href="portfolio-lightbox.html">Portfolio Lightbox</a></li>
                    <li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                    <li><a href="portfolio-single-project.html">Single Project</a></li>
                  </ul> -->
                </li>
                <li>
                  <a href="client.html">
                    Clients
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                            <!--  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a href="#">Shop</a>
                      <ul class="dropdown-menu">
                        <li><a href="shop-full-width.html">Shop - Full Width</a></li>
                        <li><a href="shop-sidebar.html">Shop - Sidebar</a></li>
                        <li><a href="shop-product-full-width.html">Shop - Product Full Width</a></li>
                        <li><a href="shop-product-sidebar.html">Shop - Product Sidebar</a></li>
                        <li><a href="shop-cart.html">Shop - Cart</a></li>
                        <li><a href="shop-login.html">Shop - Login</a></li>
                        <li><a href="shop-checkout.html">Shop - Checkout</a></li>
                      </ul>
                    </li>
                    <li><a href="page-full-width.html">Full width</a></li>
                    <li><a href="page-left-sidebar.html">Left sidebar</a></li>
                    <li><a href="page-right-sidebar.html">Right sidebar</a></li>
                    <li><a href="page-custom-header.html">Custom Header</a></li>
                    <li><a href="page-404.html">404 Error</a></li>
                    <li><a href="page-team.html">Team</a></li>
                    <li><a href="page-services.html">Services</a></li>
                    <li><a href="page-careers.html">Careers</a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                    <li><a href="page-login.html">Login / Register</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
                  </ul> -->
                </li>
                <li><a href="partner.html">Tech-Partner</a></li>
                <li>
                  <a  href="contact.html">
                    Contact Us
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="contact-us.html">Contact Us - Basic</a></li>
                    <li><a href="contact-us-advanced.php">Contact Us - Advanced</a></li>
                  </ul> -->
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <div role="main" class="main">

        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Product</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Time Displays</h2>
              </div>
            </div>
          </div>
        </section>
                  <div class="container">
              <h2 class="word-rotator-title">
             <strong>PARK OBDAS-1000 </strong>
              <span class="" style="height: 54px;">
                <span class="word-rotate-items" style="top: 0px;">
                  <span>Onboard</span>
                  <span>Data</span>
                  <span>Acquisition</span>
                <span>System</span></span>
              </span>
          </h2>
          </div>
    <div class="container">
              <div class="row">
            <div class="col-md-8">
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nib            
                <span class="alternative-font">metus.</span> 
              </p>
            </div>
            <div class="col-md-4">
              <div class="thumb">
              <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/circle-01.png" data-appear-animation="fadeInDownBig"/>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. 
                Nulla lacinia iaculis nulla non pulvinar. 
                Cum sociis natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus.
                Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nib.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nib 
              </p>
            </div>
            <div class="col-md-4">
              
            </div>
          </div>
          </div>
          <div class="container">
              <div class="row">
            <div class="col-md-2">
              <img src="/assets/img/sdr-button-01.png">
            </div>
          </div>
          </div>
          <div class="park-content container">
            <div class="iso-box-shadow">
               <img src="/assets/img/line copy.png">
            </div>
          </div>

        <div class="container main-sdr-container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="push-top">List <strong>of Product</strong></h3>
            </div>
          </div>
            <div class="row">
            <div class="col-md-12">
              <ul class="history">
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                  <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                  <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.</p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                   <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig"/>
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur 
                      pellentesque neque eget diam posuere porta. 
                      Quisque ut nulla at nunc vehicula lacinia.
                      Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div class="row">
                <div class="col-lg-12">
              
              </div>
            </div>
          </div>
      </div>
      </div>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer-ribbon">
              <span>Visitors Count "10,000"</span>
            </div>
            <div class="col-md-4">
              <div class="newsletter">
                <h4>Search</h4>
                <p>
                Search our database to find
                information about any products and
                documents of Park Controls and
                and Communications..
                                 </p>
      
                <div class="alert alert-success hidden" id="newsletterSuccess">
                  <strong>Success!</strong> You've been added to our email list.
                </div>
      
                <div class="alert alert-danger hidden" id="newsletterError"></div>
      
                <form id="newsletterForm" action="#" method="POST">
                   <div class="search-text-heading-arrow"><img src="/assets/img/down-arrow.png"></div>
                  <select id="select">
                    <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
                   </select>
                </form>
              </div>
            </div>
            <!-- <div class="col-md-3">
               <h4>Latest Tweet</h4>
              <div id="tweet" class="twitter" data-account-id="">
                <p>Please wait...</p>
              </div>
            </div> -->
            <div class="col-md-4">
              <div class="contact-details">
                <h4>Contact Us</h4>
                <ul class="contact">
                  <li><p><i class="icon icon-map-marker"></i> <strong style="color:#0188cc;">Address:</strong>
                    Park Controls & Communication Ltd<br>
                    <span>#22, 80 Feet Road</span>
                    <br>
                     &nbsp;&nbsp;&nbsp;<span class="contact-span">HAL III Stage</span>
                    <br>
                    <span class="contact-span-01">Bangalore-560075, India</span>
                                     </p></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <h4 style="visibility:hidden;">Contact Us</h4>
                <ul class="contact">
                  <li><p><i class="icon icon-phone"></i> <strong>Phone:</strong> +91-80-2529 2513 / 2529 7199 / 2529 3482</p></li>
                  <li><p><i class="icon icon-hdd-o"></i> <strong>Fax:</strong>91-80-2528 1716</p></li>
                  <li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:info@parkcontrols.com" style="color:#cccf8c !important;text-decoration:underline;">info@parkcontrols.com</a></p></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <p>© 2009.All Rights Reserved.&nbsp;<a href="http://www.parkcontrols.com" target="_blank">www.parkcontrols.com</a></p>
              </div>
              <div class="col-md-8">
                <nav id="sub-menu">
                  <ul>
                    <li><a href="career.html">Careers</a></li>
                    <li><a href="partner.html">Partnerahip</a></li>
                    <li><a href="faq.html">FAQ’s</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Libs -->
    <script src="vendor/jquery.js"></script>
    <script src="vendor/jquery.appear.js"></script>
    <script src="vendor/jquery.easing.js"></script>
    <script src="vendor/jquery.cookie.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/jquery.validate.js"></script>
    <script src="vendor/jquery.stellar.js"></script>
    <script src="vendor/jquery.knob.js"></script>
    <script src="vendor/jquery.gmap.js"></script>
    <script src="vendor/twitterjs/twitter.js"></script>
    <script src="vendor/isotope/jquery.isotope.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.js"></script>
    <script src="vendor/jflickrfeed/jflickrfeed.js"></script>
    <script src="vendor/magnific-popup/magnific-popup.js"></script>
    <script src="vendor/mediaelement/mediaelement-and-player.js"></script>
    
    <!-- Theme Initializer -->
    <script src="js/theme.plugins.js"></script>
    <script src="js/theme.js"></script>
    
    <!-- Custom JS -->
    <script src="js/custom.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12345678-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
     -->

  </body>
</html>
