<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>PCC Park Controller</title>    
    <meta name="keywords" content="PCC PARK Controller" />
    <meta name="description" content="PCC PARK CONTROLS and communication pvt lmt">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Web /assets/Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Libs CSS -->
        <!-- Theme CSS -->
     </head>
  <body>
    <div class="body">
   <%= render :partial => "/layouts/header" %>
      <div role="main" class="main">
        <div class="slider-div">
             </div>
        <div class="home-intro">
          <div class="container">
            <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
               <div class="img-1">
               <a data-toggle="tab" href="#sectionA"><img src="/assets/img/p3.png"></a>
             </div><!---img-1--->
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                 
               <div class="img-2">
                <a data-toggle="tab" href="#sectionB"><img src="/assets/img/p2.png"></a>
             </div><!---img-2--->
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
               <div class="img-3">
               <a data-toggle="tab" href="#sectionC">
             <img src="/assets/img/p.png"></a>
             </div><!---img-3--->
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
               <div class="img-4">
                <a data-toggle="tab" href="#sectionD">
              <img src="/assets/img/p5.png"></a>
             </div><!---img-4--->
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          
               <div class="img-5">
               <a data-toggle="tab" href="#sectionE"> 
             <img src="/assets/img/p6.png"></a>
             </div><!---img-5--->
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            
               <div class="img-6">
                <a data-toggle="tab" href="#sectionF"><img src="/assets/img/p7.png"></a>
             </div><!---img---->
          </div>
        </div>
        
          </div>
        </div><!--home-intro--->
        
        <div class="container">
        
          <div class="row center">
            <div class="col-md-12">
              <h2 class="short word-rotator-title">
                WELCOME TO
                <strong class="inverted">
                  <span class="word-rotate">
                    <span class="word-rotate-items">
                      <span>PARK CONTROLS</span>
                    </span>
                  </span>
                </strong>
                
              </h2>
              <p class="featured lead para-text">
                <strong>Park Controls & Communications Ltd.</strong>, is two decades old, established in 1989 by technocrats with strong technical background and in-depth domain 
              </p>
              <p class="featured lead">
                knowledge of core technologies. The company services technology intensive requirements of clients within the Defense and Aerospace domains. 
              </p>
              <p class="featured lead">
                The company caters to customized and exclusive requirements in the Defense, Space and Aerospace domains with End to End Data Acquisition Solutions for
                </p>
                <p class="featured lead">
                Airborne and Ground based Applications particularly specializing in PCM Telemetry, Timing and Control products and design services.
                </p>
                <p class="featured lead">
                    Park Controls & Communications Ltd., also specializes in extending services customized Automated Test Equipments (ATE) within the Avionics domain 
                </p>
                <p class="featured lead">
                     irrespective of the nature of the tests. The tests could pertain to Navigation, EW, Radar, Display, Communications, Engines, etc. The company is proud to have
                </p>
                <p class="featured lead">
                   associated with numerous efforts in upgrading Legacy Test Benches providing improved features and life extensions for more than 10 years. Complex 
                </p>
                <p class="featured lead">designs of New Test Benches have also been realized very successfully.</p>
                <p class="featured lead">Park Controls & Communications Ltd., has the unique ability to design and develop complete systems on turnkey basis including hardware and software righ</p>
                <p class="featured lead">from chip level ground up to complete systems including firmware, device drivers, system level Application Software, etc.</p>
                <p class="featured lead">Park Controls & Communications Ltd., is a recognized vendor to handle Defence Offset related projects. The company is ready to undertake projects that </p>
                <p class="featured lead">would help MNCs/OEMs to acquire offset credits through successful execution of projects.</p>
                <p class="featured lead">Park Controls & Communications Ltd., is proud of their <span style="color:#0088cc;font-weight: bolder;">Mission Statement</span></p>
                <p class="featured lead" id="text-global">"To become globally competitive and professionally managed business enterprise providing Defense and Aerospace solutions and End to End data </p>
                <p class="featured lead" id="text-global">acquisition applications of supreme quality in a dynamic and growth oriented world market".</p>
            </div>
          </div>
        
        </div>
        
        <div class="home-concept">
          <div class="container">
            <div class="row center">
              <div class="iso-box-shadow">
                  <img src="/assets/img/line copy.png">
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="container">
        
          <div class="row">
            <div class="col-md-8">
              <h2>Our <strong>Products...</strong></h2>
              <div class="row">
                <div class="col-md-12">
                   <div class="pull-right our-prev-img">
                    <img src="/assets/img/prev.png"/>
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                   <div class="obdas">
                     <span>PARK OBDAS-1000  Onboard Data Acquisition System<span>
                        </span></span>
                  </div>
                  <div class="module-div-01">
                    <div class="row">
                    <div class="col-md-8">
                      <p class="lead lead-01">
                      A completely modular, high performance, 
                      easily configurable, economic solution catering data 
                      acquisition needs of aerospace sector. Supports Analog 
                      inputs from all kinds sensors pertaining to Single ended voltages,
                      Differential voltages, Strain Gauges, PT 100 and Thermistor Temperature 
                      Sensors, Thermocouples, LVDT, RVDT, Synchro, Resolver Sensors, etc.,
                      and also MIL 1553, ARINC 429, Video/Voice Modules, etc.
                    </p>
                    </div>
                     <div class="col-md-4">
                        <p class="lead lead-img-01">
                        <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" data-appear-animation="fadeInDownBig">
                      </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <p class="lead lead-anchor">
                        <a href="view.html">View Detail</a>
                      </p>
                     </div>
                  
                  </div>
                  </div><!--module-div-01-->
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h2 class="news-heading">NEWS & EVENTS...</h2>
        
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <i class="icon  icon-bell"></i>
                        Nulla porta posuere faucibus morbi
                      </a>
                      <span class="tab-pad">April 19th,2015</span>
                    </h4>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="panel-body">
                       <p>
                      Donec tellus massa, tristique sit amet condimentum vel, 
                      facilisis quis sapien. Praesent id enim sit amet odio 
                      vulputate eleifend in in tortor odio vulputate eleifend 
                      in in tortorodio vulputate eleifend in in tortor
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <i class="icon icon-bell"></i>
                        Morbi quam arcu, sagittis sit
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="panel-body">
                        <p>
                      Donec tellus massa, tristique sit amet condimentum vel, 
                      facilisis quis sapien. Praesent id enim sit amet odio 
                      vulputate eleifend in in tortor odio vulputate eleifend 
                      in in tortorodio vulputate eleifend in in tortor
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <i class="icon icon-bell"></i>
                        Morbi quam arcu, sagittis sit
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="panel-body">
                       <p>
                      Donec tellus massa, tristique sit amet condimentum vel, 
                      facilisis quis sapien. Praesent id enim sit amet odio 
                      vulputate eleifend in in tortor odio vulputate eleifend 
                      in in tortorodio vulputate eleifend in in tortor
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <hr class="tall" />
        
          <div class="row center">
            <div class="col-md-12">
              <h2 class="short word-rotator-title">
                Specialists In
                <strong>
                  <span class="word-rotate">
                    <span class="word-rotate-items">
                      <span>Defence and Aerospace...</span>
                      <!-- <span>happy</span> -->
                    </span>
                  </span>
                </strong>
                <!-- about Porto Template... -->
              </h2>
              <h4 class="lead tall">The company has successfully met with every customer’s specific requirements Meet our customers.</h4>
            </div>
          </div>
          <div class="row center">
            <div class="owl-carousel" data-plugin-options='{"items":6, "singleItem": false, "autoPlay": true}'>
              <div>
                <img class="img-responsive" src="/assets/img/logos/s1.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/assets/img/logos/s2.png" alt="">
              </div>
              <div>
                <img class="img-responsive" style="width:159px;height:45px;" src="/assets/img/logos/s3.png" alt="">
              </div>
              <div>
                <img class="img-responsive" style="width:159px;height:45px;" src="/assets/img/logos/s4.png" alt="">
              </div>
              <div>
                <img class="img-responsive" style="width:159px;height:45px;" src="/assets/img/logos/s5.png" height="50" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/assets/img/logos/s1.png" height="50" alt="">
              </div>
              <div>
                <img class="img-responsive" src="/assets/img/logos/s2.png" height="50" alt="">
              </div>
              <div>
                <img class="img-responsive" style="width:159px;height:45px;" src="/assets/img/logos/s3.png" height="50" alt="">
              </div>
            </div>
          </div>
        
        </div>
        
        <div class="map-section">
          
        </div>
      </div>
 
   <%= render :partial => "/layouts/footer" %>
        
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">PARK OBDAS-1000 Onboard Data Acquisition System</h4>
                </div>
                <div class="modal-body">
               <p class="lead">
                <select class="select-01" id="select-modal" >
                <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
              </select>
             </p>
               <p class="lead"> 
              A completely modular, high performance, easily configurable,
              economic solution catering
              data acquisition needs of aerospace sector. Supports Analog inputs 
              from all kinds sensors pertaining to Single ended voltages,
              Differential voltages, Strain Gauges, 
              PT 100 and Thermistor Temperature Sensors, 
              Thermocouples, LVDT, RVDT, Synchro, 
              Resolver Sensors, etc., and also MIL 1553,
              ARINC 429, Video/Voice Modules, etc..
            </p>
            <p class="lead">
              <!-- <img src="img/p3.png" height="121" width="121"> -->
              <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible p3-image" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
              <button type="button" class="btn btn-primary button-modal">DownLoad</button>
            </p>
                   
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
      <!-- Modal HTML img-2 -->
    <div id="img-2" class="modal fade">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">PARK OBDAS-1000 Onboard Data Acquisition System</h4>
                </div>
                <div class="modal-body">
               <p class="lead">
                <select id="select-modal">
                <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
              </select>
             </p>
               <p class="lead"> 
              A completely modular, high performance, easily configurable,
              economic solution catering
              data acquisition needs of aerospace sector. Supports Analog inputs 
              from all kinds sensors pertaining to Single ended voltages,
              Differential voltages, Strain Gauges, 
              PT 100 and Thermistor Temperature Sensors, 
              Thermocouples, LVDT, RVDT, Synchro, 
              Resolver Sensors, etc., and also MIL 1553,
              ARINC 429, Video/Voice Modules, etc..
            </p>
            <p class="lead">
               <img id="p21-img" class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="img/p21.png" height="121" width="121" data-appear-animation="fadeInDownBig">
              <button type="button" class="btn btn-primary button-modal">DownLoad</button>
            </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
      <!-- Modal HTML img-3 -->
    <div id="img-3" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">PARK OBDAS-1000 Onboard Data Acquisition System</h4>
                </div>
                <div class="modal-body">
               <p class="lead">
                <select id="select-modal">
                <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
              </select>
             </p>
               <p class="lead"> 
              A completely modular, high performance, easily configurable,
              economic solution catering
              data acquisition needs of aerospace sector. Supports Analog inputs 
              from all kinds sensors pertaining to Single ended voltages,
              Differential voltages, Strain Gauges, 
              PT 100 and Thermistor Temperature Sensors, 
              Thermocouples, LVDT, RVDT, Synchro, 
              Resolver Sensors, etc., and also MIL 1553,
              ARINC 429, Video/Voice Modules, etc..
            </p>
            <p class="lead">
              <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p31.png" height="121" width="121" data-appear-animation="fadeInDownBig">
              <button type="button" class="btn btn-primary button-modal">DownLoad</button>
            </p>
                   
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal HTML img-4 -->
    <div id="img-4" class="modal fade">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">PARK OBDAS-1000 Onboard Data Acquisition System</h4>
                </div>
                <div class="modal-body">
               <p class="lead">
                <select id="select-modal">
                <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
              </select>
             </p>
               <p class="lead"> 
              A completely modular, high performance, easily configurable,
              economic solution catering
              data acquisition needs of aerospace sector. Supports Analog inputs 
              from all kinds sensors pertaining to Single ended voltages,
              Differential voltages, Strain Gauges, 
              PT 100 and Thermistor Temperature Sensors, 
              Thermocouples, LVDT, RVDT, Synchro, 
              Resolver Sensors, etc., and also MIL 1553,
              ARINC 429, Video/Voice Modules, etc..
            </p>
            <p class="lead">
               <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p41.png" height="121" width="121" data-appear-animation="fadeInDownBig">
              <button type="button" class="btn btn-primary button-modal">DownLoad</button>
            </p>
                   
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal HTML img-5 -->
    <div id="img-5" class="modal fade">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">PARK OBDAS-1000 Onboard Data Acquisition System</h4>
                </div>
                <div class="modal-body">
               <p class="lead">
                <select id="select-modal">
                <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
              </select>
             </p>
               <p class="lead"> 
              A completely modular, high performance, easily configurable,
              economic solution catering
              data acquisition needs of aerospace sector. Supports Analog inputs 
              from all kinds sensors pertaining to Single ended voltages,
              Differential voltages, Strain Gauges, 
              PT 100 and Thermistor Temperature Sensors, 
              Thermocouples, LVDT, RVDT, Synchro, 
              Resolver Sensors, etc., and also MIL 1553,
              ARINC 429, Video/Voice Modules, etc..
            </p>
            <p class="lead">
               <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p51.png" height="121" width="121" data-appear-animation="fadeInDownBig">
              <button type="button" class="btn btn-primary button-modal">DownLoad</button>
            </p>
                   
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
          <!-- Modal HTML img-6 -->
    <div id="img-6" class="modal fade">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">PARK OBDAS-1000 Onboard Data Acquisition System</h4>
                </div>
                <div class="modal-body">
               <p class="lead">
                <select id="select-modal">
                      <option value="0">--Selects--</option>
                    <option value="1">Product-1</option>
                    <option value="2">Product-2</option>
                     <option value="3">Product-3</option>
                     <option value="4">Product-4</option>
                     <option value="5">Product-5</option>
                      <option value="3">Product-6</option>
                     <option value="4">Product-7</option>
                     <option value="5">Product-8</option>
              </select>
             </p>
               <p class="lead"> 
              A completely modular, high performance, easily configurable,
              economic solution catering
              data acquisition needs of aerospace sector. Supports Analog inputs 
              from all kinds sensors pertaining to Single ended voltages,
              Differential voltages, Strain Gauges, 
              PT 100 and Thermistor Temperature Sensors, 
              Thermocouples, LVDT, RVDT, Synchro, 
              Resolver Sensors, etc., and also MIL 1553,
              ARINC 429, Video/Voice Modules, etc..
            </p>
            <p class="lead">
               <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p61.png" height="121" width="121" data-appear-animation="fadeInDownBig">
              <button type="button" class="btn btn-primary button-modal">DownLoad</button>
            </p>
                   
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
      
    </div>
<%= render :partial => "/layouts/js_script" %>
    <!-- Libs -->

    <!-- Current Page JS -->
    <script src="/assets/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>
    <script src="/assets/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="/assets/js/views/view.home.js"></script>
    
    <!-- Custom JS -->

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12345678-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
     -->

  </body>
</html>