<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Product Page</title>   
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Libs CSS -->
    <!-- Theme CSS -->

  </head>
  <body>

    <div class="body">
          <%= render :partial => "/layouts/header" %>


      <div role="main" class="main">

        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Product</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Video Time Inserters</h2>
              </div>
            </div>
          </div>
        </section>
                  <div class="container">
              <h2 class="word-rotator-title">
             <strong>PARK OBDAS-1000 </strong>
              <span class="" style="height: 54px;">
                <span class="word-rotate-items" style="top: 0px;">
                  <span>Onboard</span>
                  <span>Data</span>
                  <span>Acquisition</span>
                <span>System</span></span>
              </span>
          </h2>
          </div>
    <div class="container">
              <div class="row">
            <div class="col-md-8">
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nib            
                <span class="alternative-font">metus.</span> 
              </p>
            </div>
            <div class="col-md-4">
              <div class="thumb">
               <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/circle-01.png" data-appear-animation="fadeInDownBig"/>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. 
                Nulla lacinia iaculis nulla non pulvinar. 
                Cum sociis natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus.
                Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nib.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nib 
              </p>
            </div>
            <div class="col-md-4">
              
            </div>
          </div>
          </div>
          <div class="container">
              <div class="row">
            <div class="col-md-2">
              <img src="/assets/img/sdr-button-01.png">
            </div>
          </div>
          </div>
          <div class="park-content container">
            <div class="iso-box-shadow">
               <img src="/assets/img/line copy.png">
            </div>
          </div>

        <div class="container main-sdr-container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="push-top">List <strong>of Product</strong></h3>
            </div>
          </div>
            <div class="row">
            <div class="col-md-12">
              <ul class="history">
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                   <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.</p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                  <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/p3.png" height="121" width="121" data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <h4><strong>product name</strong></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur 
                      pellentesque neque eget diam posuere porta. 
                      Quisque ut nulla at nunc vehicula lacinia.
                      Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div class="row">
                <div class="col-lg-12">
                
              </div>
            </div>
          </div>
      </div>
      </div>

        <%= render :partial => "/layouts/footer" %>
    </div>

    <!-- Libs -->
    <%= render :partial => "/layouts/js_script" %>
   
  </body>
</html>