<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <title>Partner Page</title>   
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Porto - Responsive HTML5 Template">
  <meta name="author" content="okler.net">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
  <!-- Libs CSS -->
</head>
<body>

  <div class="body">
    <%= render :partial => "/layouts/header" %>
    <div role="main" class="main">
      <section class="page-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Partnerahip</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Partnerahip</h2>
            </div>
          </div>
        </div>
      </section>

      <div class="container">
        <div class="row">
         <div class="col-md-12 col-xs-8">
           <table class="table table-bordered">
            <thead>
              <tr>
                <th>Clients</th>
                <th>Descriptions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="/assets/img/gdp.png"></td>
                <td>
                 <p class="lead">
                  Technology Partnership with GDP Space Systems Inc., USA a division of
                  Delta Information Systems, USA for designs, sales, marketing, installation    
                  and maintenance of Telemetry Sub systems in India            
                </p>
              </td>
            </tr>
            <tr>
             <td><img src="/assets/img/bhe.png"></td>
             <td>
              <p class="lead">
                Technology Partnership with BHE Bonn Hungary Electronics Ltd., Budapest 
                for design, development &amp; sales, installation and maintenance of Airborne / 
                Ground based RF systems in India, USA and Australia
              </p>
            </td>
          </tr>

          <tr>
           <td><img src="/assets/img/sys.png"></td>
           <td>
            <p class="lead">
              Technology Partnership with AA Systel, France for designs, sales, marketing, 
              installation and maintenance of Parabolic Antenna Systems in India
            </p>
          </td>
        </tr>



        <tr>
         <td><img src="/assets/img/rock.png"></td>
         <td>
          <p class="lead">
            Support Services partner with Rockwell Collins for installation and
            maintenance of Communications Systems in India
          </p>
        </td>
      </tr>


      <tr>
      <td><img src="/assets/img/gts.jpg"></td>
       <td>
        <p class="lead">
          Technology Partnership with GTS Solutions, Korea for sales, marketing,
          installation and maintenance of Telemetry, 
          Timing and Control systems from Park Controls in Korea, Japan & Australia.
        </p>
      </td>
    </tr>




  </tbody>
</table>
</div>
</div>
</div><!--container-->

</div>

<%= render :partial => "/layouts/footer" %>
</div>

<!-- Libs -->
<%= render :partial => "/layouts/js_script" %>

</body>
</html>
