<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Service</title>    
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Libs CSS -->
  
    <!-- Theme CSS -->
  
  </head>
  <body>
    <div class="body">
           <%= render :partial => "/layouts/header" %>
      <div role="main" class="main">
        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Service</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Service</h2>
              </div>
            </div>
          </div>
        </section>
                  <div class="container">
               <h4 class="service-heading">Park Controls &amp; Communications (P) Ltd.,is known for extending impeccable services:</h4>
          </div>
        <div class="container">
              <div class="row">
            <div class="col-md-12">
              <p class="lead">
                <ul class="ul-iso">
                  <li>
                Services for the Design &amp;
                Development of conceptualized products and
                the Form, Fit and Function replacement of
                legacy Avionics LRUs 
                and MIL Ruggedized Systems and Sub Systems. 
                The design and development of such Hardware, 
                Software and Embedded Systems are in the digital, 
                analog, mixed signals and RF space.
                                </ul>
                 </li>                          
                 
              </p>
            </div>
          </div>
         <div class="row">
            <div class="col-md-12">
              <p class="lead">
              <ul class="ul-iso">
                  <li>
                Services for the installation, integration and
                commissioning of Infrastructure Projects within 
                the Defence and Avionics
                space, where products from third party 
                vendors also are seamlessly integrated 
                with product gaps; both in Hardware and 
                Software, effortlessly filled in 
                and a total working system is handed
                over with adequate training for 
                the users to handle 
                the operations with ease
                </ul>
                  </li>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
              <ul class="ul-iso">
                  <li>
                  Maintenance services of large systems and LRUS,
                  Defence Systems, Sub Systems on behalf of OEMs 
                  outside India.
                  PCC will put together a team that would take
                  care of the maintenance of the system 24/7 
                  with training and spares 
                  support from the OEM.
                  </ul>
                  </li>
              </p>
            </div>
          </div>

  <div class="row">
            <div class="col-md-12">
              <p class="lead">
                <ul class="ul-iso">
                  <li>
                Some Services examples:   
              </p>
               </ul>
                </li>
            </div>
          </div>



  <div class="row">
            <div class="col-md-12">
              <p class="lead">
                   <ul class="ul-iso ul-iso-01">
                  <li>
                  The Systems Integration Rig of a specific Russian aircraft 
                  supplied by Russia has been fully serviced and is
                  operational by replacing the Radar Signal System 
                  (RSS) with completely indigenous system.  The Dynamic 
                  Test Bench (DTB) was also repaired and upgraded. 
                  The system functions perfectly.
                  </ul>
                  </li>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                <ul class="ul-iso ul-iso-02">
                  <li>
              Large Telemetry Ground Stations for the flight 
              trials of different flight vehicles have been 
              established
              successfully integrating products from 
              PCC alongside products from various OEMs 
              outside the country.
               </ul>
               </li>
              </p>
            </div>
          </div>
         
          </div>

        <div class="container">

        </div>
      </div>

        <%= render :partial => "/layouts/footer" %>
    </div>

<%= render :partial => "/layouts/js_script" %>
   </body>
</html>
