/* Add here all your CSS customizations */

.figure-span{
    position:relative;
    top: -69px;
    right: 221px;
    float: right;
    font-size:14px;
    letter-spacing:0px;
	cursor:pointer;
}
#cssSlider {
    width:auto;
    height:297px;
    overflow: hidden;
    position: relative;
    margin-top: 0px
}
#cssSlider figure {
   width:700px;
   height:210px;
   margin:0;
   position:absolute;
   top:0;
   left:-700px;
   z-index:1;
   transition: all linear 0.5s;
   -o-transition:all linear 0.5s;
   -moz-transition:all linear 0.5s;
   -webkit-transition:all linear 0.5s;
}
#cssSlider figure:target {
   left:0;
   z-index:2;
}
#cssSlider figure:first-child {
  left: 0;
  z-index:2;

}
#cssSlider figure figcaption {
   position:absolute;
   bottom:0;
   right:700px;
   z-index:2;
  color: #0088cc;
   padding:10px 20px;
   width:660px;
   
   transition:all linear 1s;
   -o-transition:all linear 1s;
   -moz-transition:all linear 1s;
   -webkit-transition:all linear 1s;
    opacity:0;
}
#cssSlider figure:target figcaption {
   right:0;
   opacity:1;
   text-align:center;
}
#cssSlider figure:target figcaption a {
    text-decoration:underline;
	font-size:16px;
	position:relative;
	right:-73px;
}

#sliderPagination {
	position:absolute;
	right:50px;
	top: -3px;
	z-index: 10;
		
}
#sliderPagination a {
   text-decoration:none;
   background:transparent; 
   padding:0px;
   color: #333;
  /*  border-radius: 20px; */
   transition: all linear 0.5s;
   -o-transition: all linear 0.5s;
   -moz-transition: all linear 0.5s;
   -webkit-transition: all linear 0.5s; 
}
#sliderPagination a:hover {
   background: #fff;
   color: #666;
   width: auto;
}
.feature-li li{
  line-height:9px;

}
   .ul-iso-01{
	padding: 0px 0px 0px 79px;
    position: relative;
    top: -33px;
	}
	 .ul-iso-02{
	padding: 0px 0px 0px 79px;
    position: relative;
    top: -56px;

	}
	#timing{
	position: relative;
    top: -25px;
    left:52px;
	
	}
figure>img{
  width:100% !important;
}
.ul-lead{
    list-style: none;
    position: relative;
    top: -19px;
    left: -35px;
}
.ul-lead li{
   line-height: 26px;
   font-weight: 600;
}

@media(max-width:1024px){
  figure>img{
  width:83% !important;
}
}
@media(max-width:768px){
#cssSlider{
   display:none;

}
}
