  <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer-ribbon">
              <span>Visitors Count "10,000"</span>
            </div>
            <div class="col-md-4">
              <div class="newsletter">
                <h4>Search</h4>
                <p>
                Search our database to find
                information about any products and
                documents of Park Controls 
                and Communications.
                                 </p>
      
                <div class="alert alert-success hidden" id="newsletterSuccess">
                  <strong>Success!</strong> You've been added to our email list.
                </div>
      
                <div class="alert alert-danger hidden" id="newsletterError"></div>
      
                <form id="newsletterForm" action="#" method="POST">
                   <div class="search-text-heading-arrow"><img src="/assets/img/down-arrow.png"></div>
                  <select id="select">
                  <option value="0">--Selects--</option>
                    
                   </select>
                </form>
              </div>
            </div>
            <!-- <div class="col-md-3">
               <h4>Latest Tweet</h4>
              <div id="tweet" class="twitter" data-account-id="">
                <p>Please wait...</p>
              </div>
            </div> -->
            <div class="col-md-4">
              <div class="contact-details">
                <h4>Contact Us</h4>
                <ul class="contact">
                  <li><p><i class="icon icon-map-marker"></i> <strong style="color:#0188cc;">Address:</strong>
                    Kishan Arcade<br>
                    <span># 464, 465, 466, New Thippasandra Main Road</span>
                    <br>
                     &nbsp;&nbsp;&nbsp;<span class="contact-span">HAL III Stage</span>
                    <br>
                    <span class="contact-span-01">Bangalore-560075, Karnataka, India.</span>
                                     </p></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <h4 style="visibility:hidden;">Contact Us</h4>
                <ul class="contact">
                  <li><p><i class="icon icon-phone"></i> <strong>Phone:</strong> +91-80-2529 2513 / 2529 7199 / 2529 3482</p></li>
                  <li><p><i class="icon icon-hdd-o"></i> <strong>Fax:</strong>91-80-2528 1716</p></li>
                  <li><p><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:info@parkcontrols.com" style="color:#cccf8c !important;text-decoration:underline;">info@parkcontrols.com</a></p></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <p>© 2009.All Rights Reserved.&nbsp;<a href="http://www.parkcontrols.com" target="_blank">www.parkcontrols.com</a></p>
              </div>
              <div class="col-md-8">
                <nav id="sub-menu">
                  <ul>
                    <li><a href="/home/career">Careers</a></li>
                    <li><a href="/home/partner">Partnerahip</a></li>
                    <li><a href="/home/faq">FAQ’s</a></li>
                    <li><a href="/home/privacy">Privacy Policy</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>