    <header id="header">
        <div class="container">
          <h1 class="logo">
            <a href="/">
              <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="/assets/img/logo.png">
            </a>
          </h1>
          
          <nav>
            <ul class="nav nav-pills nav-top">
              
              <li class="phone">
                <span><i class="icon icon-phone"></i>+91-80-2529 2513</span>
              </li>
              <li class="phone">
                <span><i class="icon icon-envelope"></i>info@parkcontrols.com</span>
              </li>
            </ul>
          </nav>
          <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="icon icon-bars"></i>
          </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
          <div class="container">
            <ul class="social-icons">
              <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
              <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
              <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
            </ul>
            <nav class="nav-main mega-menu">
              <ul class="nav nav-pills nav-main" id="mainMenu">
                <li>
                  <a href="/home/about">
                    About Us
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="about-us-basic.html">About Us - Basic</a></li>
                    <li><a href="about-me.html">About Me</a></li>
                  </ul> -->
                </li>
                <li class="dropdown mega-menu-item mega-menu-fullwidth">
                  <a class="dropdown-toggle" href="#">
                    Products
                    <i class="icon icon-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="mega-menu-content">
                        <div class="row">
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">RF</span>
                                <ul class="sub-menu">
                                  <li><a href="/home/sdr">SDR based Transmitters</a></li>
                                  <li><a href="/home/feature_icons">Power Amplifiers</a></li>
                                  <li><a href="/home/ampli">Power Dividers</a></li>
                                  <li><a href="/home/combiner">Combiners</a></li>
                                  <li><a href="/home/low">Low Noise Amplifiers</a></li>
                                  <li><a href="/home/down">Down Convertors</a></li>
                                  <li><a href="/home/modulator">Modulators</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Telemetry</span>
                                <ul class="sub-menu">
                                  <li><a href="/home/airbone">Airborne/MIL Ruggedized Instrumentation Systems</a></li>
                                  <li><a href="/home/pcm">PCM Encoders</a></li>
                                  <li><a href="/home/antenna">Antenna Systems (up to 3 mts.)</a></li>
                                  <li><a href="/home/receiver">Telemetry Receivers</a></li>
                                  <li><a href="/home/bit">Bit Synchronizers</a></li>
                                  <li><a href="/home/document">Decommutators</a></li>
                                  <li><a href="/home/software">Telemetry Application Software</a></li>
                                  <li><a href="/home/video">Video decoders</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Timing</span>
                                <ul class="sub-menu">
                                  <li><a href="/home/system">Time Reference Systems</a></li>
                                  <li><a href="/home/generator">Time Code Generators</a></li>
                                  <li><a href="/home/reader">Time Code Readers</a></li>
                                  <li><a href="/home/display">Time Displays</a></li>
                                  <li><a href="/home/inserter">Video Time Inserters</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Controls</span>
                                <ul class="sub-menu">
                                  <li><a href="/home/power_control">Power Control Units</a></li>
                                  <li><a href="/home/engine_control">Engine Control Units</a></li>
                                  <li><a href="/home/generator_control">Generator Control Units</a></li>
                                  <li><a href="/home/antenna_control">Antenna Control Units</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                        
                        <div class="row">
                           <div class="col-md-3">
                            <ul class="sub-menu">
                              <li>
                                <span class="mega-menu-sub-title">Others</span>
                                <ul class="sub-menu">
                                  <li><a href="/home/unit">Airborne Engine Interface Unit</a></li>
                                  <li><a href="/home/recorder">Airborne Digital Video Recorder</a></li>
                                  <li><a href="/home/loader">Air Data Loaders</a></li>
                                  <li><a href="/home/mil">MIL 1553 boards</a></li>
                                  <li><a href="/home/board">ARINC boards</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/home/service">
                    Services
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                    <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                    <li><a href="portfolio-lightbox.html">Portfolio Lightbox</a></li>
                    <li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                    <li><a href="portfolio-single-project.html">Single Project</a></li>
                  </ul> -->
                </li>
                <li>
                  <a href="/home/client">
                    Clients
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                            <!--  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a href="#">Shop</a>
                      <ul class="dropdown-menu">
                        <li><a href="shop-full-width.html">Shop - Full Width</a></li>
                        <li><a href="shop-sidebar.html">Shop - Sidebar</a></li>
                        <li><a href="shop-product-full-width.html">Shop - Product Full Width</a></li>
                        <li><a href="shop-product-sidebar.html">Shop - Product Sidebar</a></li>
                        <li><a href="shop-cart.html">Shop - Cart</a></li>
                        <li><a href="shop-login.html">Shop - Login</a></li>
                        <li><a href="shop-checkout.html">Shop - Checkout</a></li>
                      </ul>
                    </li>
                    <li><a href="page-full-width.html">Full width</a></li>
                    <li><a href="page-left-sidebar.html">Left sidebar</a></li>
                    <li><a href="page-right-sidebar.html">Right sidebar</a></li>
                    <li><a href="page-custom-header.html">Custom Header</a></li>
                    <li><a href="page-404.html">404 Error</a></li>
                    <li><a href="page-team.html">Team</a></li>
                    <li><a href="page-services.html">Services</a></li>
                    <li><a href="page-careers.html">Careers</a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                    <li><a href="page-login.html">Login / Register</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
                  </ul> -->
                </li>
                <li><a href="/home/partner">Tech-Partner</a></li>
                <li class="active">
                  <a  href="/home/contact">
                    Contact Us
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="contact-us.html">Contact Us - Basic</a></li>
                    <li><a href="contact-us-advanced.php">Contact Us - Advanced</a></li>
                  </ul> -->
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>